* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero {
    margin-top: 100px;
    position:absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-text {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    line-height: 110px;
    margin-top: 100px;
    margin-left: 120px;


}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
    margin-left: 120px;


}

.hero-explore p {
    color: #292929;
    font-weight: 500;
    font-size: 16px;
}

.hero-dots {
    display: flex;
    gap: 30px;
    list-style: none;

}

.hero-dot-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    width: 800px;


}

.hero-dot {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;





}

.hero-dot.orange {
    background-color: orangered;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-play img {
    cursor: pointer;
    position: absolute;
    left: 1000px;

}


.hero-play p {
    color: #fff;
    font-size: 19px;
    margin-left: 90px;
    position: absolute;
    text-align: right;
    width: 180px;
    left: 700px;


}

.hero-explore img {
    margin-top: 5px;
    width: 60px;

}

.main-position {
    margin-top: 180px;
}

.name-courses {

    text-align: center;
}

.Courses {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.Courses button {
    background-color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;

}

.Courses .div {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

}
.Courses .div:hover {
    transform: scale(1.05);
    transform-origin: center; 
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.5s;
}


.Courses .button-flex button {
    background-color: white;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid black;
}

.Courses .button-flex button:hover {
    background: orangered;
    transition: 0.5s;
    color: white;
    box-shadow: 0px 12px 14px rgb(43, 42, 42);

}

.button-flex img {
    width: 30px;
    margin-left: 10px;
}

.button-flex {
    border-radius: 10px;
}

.div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
}

.overlay h1,
.overlay p,
.overlay button {
    margin: 10px 0;
}



.overlay button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.overlay button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.status1{
    width: 100%;
    height: 300px;
    background-color: wheat;
}
.status1:hover{
    background-color: orangered;
    transition: 1s;
    border: white;
}
.courses-list{
    display:inline-block;
    
}