*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.containerr{
    position: relative;
    align-items: center; 
    background-image: url("/src/assets/image2.png");
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.login {
    
    position: absolute;
    left: 40%;
    box-shadow: 0px 8px 18px rgba(173, 172, 172, 0.5); 
    width: 300px;
    background-color: transparent;
    padding: 20px; 
    border-radius: 4px;
    backdrop-filter: blur(8px);
    margin-top: 20px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    border:black 1px solid;
    border-top:rgba(0, 0, 0, 1) ;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 1);
    padding-right: 20px;

}


.nav-logo {
    font-size: 50px;
    font-weight: bold;
    padding-left: 20px;

}

.search {
    display: flex;
    align-items: center;
    
}

.search input {
    padding: 12px;
    border-radius: 30px;
    border: none;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 20px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

.nav-menu li:hover {
    background-color: orangered;
}
.search-bar{
    width: 330px;
    height: 35px;
    margin-left: 35px;
}



